.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  border: solid 3px #477fb3;
  margin-top: 50px;
  border-radius: 20px;

  h1 {
    color: #477fb3;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 450px;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}